version: '3.8'

services:
  yolo-gpu-segmentation:
    build: .
    ports:
      - "8888:8888"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]